<!-- <h1 mat-dialog-title><strong>{{action}}ing</strong></h1> -->
<div *ngIf="action == 'Update' ">
  <div mat-dialog-content>
    <mat-form-field>
      <input placeholder="{{action}} Name" matInput [(ngModel)]="local_data.userName">
    </mat-form-field>
    <mat-form-field>
      <input placeholder="{{action}} Email" matInput [(ngModel)]="local_data.email">
    </mat-form-field>
    <mat-form-field>
      <input placeholder="{{action}} Phone" matInput [(ngModel)]="local_data.phone">
    </mat-form-field>
    <mat-form-field>
      <input placeholder="{{action}} DOB" matInput [(ngModel)]="local_data.dob">
    </mat-form-field>
    <mat-form-field>
      <input placeholder="{{action}} Role" matInput [(ngModel)]="local_data.role">
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="doAction()">Update</button>
    <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
  </div>
</div>
<div *ngIf="action == 'UpdateExpanse1' ">
  <div mat-dialog-content>
    <mat-form-field>
      <input disabled placeholder="Name" matInput [(ngModel)]="local_data.name">
    </mat-form-field>
    <mat-form-field>
      <input placeholder="Update Expanse" matInput [(ngModel)]="local_data.spentOn">
    </mat-form-field>
    <mat-form-field>
      <input placeholder="Update Amount" matInput [(ngModel)]="local_data.spentAmount">
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="doAction()">Update</button>
    <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
  </div>
</div>
<div *ngIf="action == 'updateACommonExpanse' ">
  <div mat-dialog-content>
    <mat-form-field>
      <input disabled placeholder="Name" matInput [(ngModel)]="local_data.expanseName">
    </mat-form-field>
    <mat-form-field>
      <input placeholder="Update Amount" matInput [(ngModel)]="local_data.expanseAmount">
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="doAction()">Update</button>
    <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
  </div>
</div>
<div *ngIf="action == 'Delete' ">
  <div mat-dialog-content>
    Sure to delete ?
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="doAction()">Delete</button>
    <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
  </div>
</div>
<div *ngIf="action == 'DeleteCommonExpanse' ">
  <div mat-dialog-content>
    Sure to delete ?
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="doAction()">Delete</button>
    <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
  </div>
</div>
<div *ngIf="action == 'AddACommonExpanse' ">
  <mat-form-field>
    <input placeholder="Add Amount for {{local_data.name}}" matInput [(ngModel)]="local_data.amount">
  </mat-form-field>
  <div mat-dialog-actions>
    <button mat-button (click)="doAction()">Add</button>
    <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
  </div>
</div>